body{
    font-family: 'Raleway', sans-serif
}

.calculator{
    width: 400px;
    height: 600px;
    margin-left: 30%;
    margin-top: 100px
}

button{
    font-family: 'Raleway', sans-serif;
    width: 24%;
    height: 40px;
    margin-bottom: 2%
}

.screen{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 50px;
    margin-bottom: 2%
}

.operator{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(7, 187, 247);
    color: yellow;
    font-weight: bolder;
    font-size: 15px
}

#equals{
    font-family: 'Roboto', sans-serif;
    background-color: crimson;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 15px
}